form {
    text-align: center;
}

form h3 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 25px;
}

/* anything that allows user to input text */
.enter-text {
    margin: 20px;
    font-family: 'Courier New', Courier, monospace;
}

/* the button that we click on to login */
.login-btn {
    padding: 10px;
    font-size: 15px;
}